<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2><a id="content" name="content"><%:Configuration Backup%></a></h2>

<ul class="cbi-tabmenu">
	<li class="cbi-tab"><a href="#"><%:Actions%></a></li>
	<li class="cbi-tab-disabled"><a href="<%=REQUEST_URI%>/backupfiles"><%:Configuration%></a></li>
</ul>

<fieldset class="cbi-section">

	<fieldset class="cbi-section">
		<legend><%:Backup / Restore%></legend>
		<form method="post" action="<%=REQUEST_URI%>" enctype="multipart/form-data">
			<div class="cbi-section-descr"><%:Click "Generate archive" to download a tar archive of the current configuration files.%></div>
			<div class="cbi-section-node">
				<div class="cbi-value<% if not reset_avail then %> cbi-value-last<% end %>">
					<label class="cbi-value-title" for="image"><%:Download backup%>:</label>
					<div class="cbi-value-field">
						<input class="cbi-button cbi-button-apply" type="submit" name="backup" value="<%:Generate archive%>" />
					</div>
				</div>
				<% if reset_avail then %>
				<div class="cbi-value cbi-value-last">
					<label class="cbi-value-title"><%:Reset to defaults%>:</label>
					<div class="cbi-value-field">
						<input onclick="return confirm('<%:Really reset all changes?%>')" class="cbi-button cbi-button-reset" type="submit" name="reset" value="<%:Perform reset%>" />
					</div>
				</div>
				<% end %>
			</div>
			<br />
			<div class="cbi-section-descr"><%:To restore configuration files, you can upload a previously generated backup archive here.%></div>
			<div class="cbi-section-node">
				<div class="cbi-value cbi-value-last">
					<label class="cbi-value-title" for="archive"><%:Restore backup%>:</label>
					<div class="cbi-value-field">
						<input type="file" name="archive" id="archive" />
						<input type="submit" class="cbi-button cbi-input-apply" name="restore" value="<%:Upload archive...%>" />
					</div>
				</div>
			</div>
		</form>
	</fieldset>

	<br />


</fieldset>

<%+footer%>
